.container {
    min-width: 600px;
    max-width: 900px;

}

.listen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 4rem;
}

.video {
    padding: 1rem 0;
}

iframe {
    width: 650px;
    height: 450px;
}

@media (max-width: 800px) {
    iframe {
    width: 350px;
    height: 250px;
}
}