.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
  /* background-color: #a9ddd620; */
  background-color: #F9F7F5;
}

td, th {
  border: 1px solid #999;
  text-align: left;
  padding: 2rem 1rem;
}

@media (max-width: 1200px) {
    table {
        width: 90%;
    }
}

@media (max-width: 800px) {
    table {
        width: 90%;
    }
}